<tr>
  <td><%= event.event_name %></td>
  <td><%= event.event_date %></td>
  <td>
    <% if event_enrolled?(event.id) %>
      <%= link_to "Discard", discard_enrolled_event_user_path(@user.id, event.id), class: "btn btn-danger rounded-1" %>
    <% else %>
      <%= link_to "Enroll", enroll_event_user_path(@user.id, event.id), class: "btn btn-info rounded-1" %>
    <% end %>
  </td>
</tr>
